@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: font;
  src: url(../Font/times\ new\ roman.ttf);
}
@font-face {
  font-family: logo;
  src: url(../font/Agutina\ 400.otf);
}
:root {
  --primary-color: #101a33;
  --secondary-color: #34afe7;
  --heading-color: #e2e8f0;
  --text-color: #879abc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  font-family: font;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--primary-color);
}
.cursor {
  position: absolute;
  background-color: var(--secondary-color);
  height: 300px;
  width: 300px;
  filter: blur(220px);
  border-radius: 50%;
  transition: all linear 0.1s;
}
.name {
  font-family: logo;
  font-size: 40px;
  font-weight: 400;
  color: var(--secondary-color);
}
.naam {
  font-size: 90px;
  color: var(--heading-color);
  margin-bottom: 20px;
}
.intro {
  color: var(--secondary-color);
  font-weight: 300;
  margin-bottom: 15px;
}
.about-me {
  font-size: 80px;
  color: var(--text-color);
  margin-bottom: 40px;
}
.about-work {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 30px;
}
.status {
  font-size: 20px;
  color: var(--secondary-color);
}
.mern {
  color: var(--secondary-color);
}
main {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 0 auto;
  height: 10vh;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links a {
  font-size: 38px;
  color: #3d535f;
  margin: 0 15px;
}

.fa:hover {
  transform: scale(1.2);
  transition: transform 0.1s ease;
}

.links {
  width: 15vw;
  height: 90vh;
  padding: 20px;
  display: flex;
  align-items: center;
}
.hero-content {
  font-family: "Inter", sans-serif;
  width: 50vw;
  height: 90vh;
  margin-top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.hero-content > * {
  width: 100%;
}

.right {
  width: 15vw;
  height: 90vh;
  padding: 20px;
}
.right-corner {
  position: fixed;
  right: 60px;
  bottom: 0;
}

.email {
  font-size: 25px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  writing-mode: vertical-lr;
}

.line {
  width: 2px;
  height: 200px;
  background-color: var(--secondary-color);
  border: none;
  margin-top: 20px;
}

.fas {
  font-size: 30px;
}

.links ul {
  position: fixed;
  top: calc(10vh+125px);
  left: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3vw;
  border-radius: 33px;
  background-color: var(--secondary-color);
  box-shadow: var(--secondary-color) 0px 2px 16px 0px;
}

.links ul li {
  list-style: none;
  padding: 20px;
  margin-bottom: 15px;
}

.title {
  height: 10vh;
  font-size: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills {
  height: 100vh;
  width: 100%;
}
.skills-section {
  display: flex;
  width: 100%;
  height: 90vh;
}
.skills-section > img {
  height: 100%;
  width: 100%;
}
.nav-section {
  width: 12%;
  height: 90vh;
}
.email-section {
  width: 8%;
  height: 90vh;
}
.left-skills-img {
  width: 28%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-skills-img > img {
  width: 450px;
  height: 450px;
}
.right-skills-section {
  width: 52%;
  height: 90vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skill-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  margin-right: 25px;
  position: relative;
}

.skill-content {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-left: 1px solid var(--secondary-color);
  border-top: 1px solid var(--secondary-color);
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.skill-image {
  margin-right: 10px;
}
.first-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.second-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.third-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.forth-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.git,
.gsap {
  height: 38px;
  width: 38px;
}
#home,
#about,
#experience,
#projects {
  height: 100vh;
  width: 100%;
}

/* 
html1
css1
js1
react1
node1
express1
mongodb1
typescript1
nextjs1
postgress1
git
github
gsap 
*/
